<% provide(:title, "Edit password") %>
 <h1>Update your password</h1>

 <div class="row">
   <div class="col-md-6 col-md-offset-3">
    <%= form_for(:password_resets) do |f| %>

      <%= f.label :current_password %>
      <%= f.password_field :password, :placeholder => "current password to confirm changes", :required => true %>

      <%= f.label :new_password %>
      <%= f.password_field :password, :placeholder => "enter new password" %>

      <%= f.label :password_confirmation, "confirm new password" %>
      <%= f.password_field :password_confirmation, :placeholder => "confirm new password" %>

      <%= f.password_field :current_password, :placeholder => "current password to confirm changes", :required => true %>

      <%= f.label :new_password %>
      <%= f.password_field :new_password, :placeholder => "enter new password" %>

      <%= f.label :new_password_confirmation, "confirm new password" %>
      <%= f.password_field :new_password_confirmation, :placeholder => "confirm new password" %>

      <br /> <br />

       <%= f.submit "Save changes" %>
     <% end %>
    <p>Want to change your name or email? <%= link_to "Update your profile", edit_user_path(current_user) %></p>
   </div>
 </div> 