<h1> All Pomodoros </h1>
<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body class="pomodoros">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<%= paginate @pomodoros %>
				<table>
				<tr>
					<th> Pomodoro </th>
					<th> Project </th>
					<th> Issue </th>
					<th> Date / Time </th>
				</tr>

				<% @pomodoros.each do |pomodoro| %>
				<tr>
					<td><%= pomodoro.id %></td>
					<td><%= pomodoro.project %></td>
					<td><%= pomodoro.issue %></td>
					<td><%= pomodoro.created_at.in_time_zone("Berlin").to_s(:short) %></td>
				</tr>
				<% end %>
				</table>
			</div>
		</div>
	</div>
</div>
</body>
</html>

