<h1> Save Pomodoro </h1>
<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="pomodoros">

  <%= form_for(@pomodoro) do |f| %>
  <div class="field">
    <p> Project </p>
    <%= f.text_area :project %>
    <p> Issue </p>
    <%= f.text_area :issue %>
  </div>
  <p> </p>
  <%= f.submit "Save" %>
  <% end %>
</div>
</div>
</body>
</html>
