<html>
<div class="col-sm-6 blog-main">
<div class="row">
  <div class="col-md-7 col-md-offset-3">
    <h8>User - Sign up</h8>
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>
    
      <%= f.label :name, "NAME", class: "form_control" %>
      <%= f.text_field :name, class: "field_control" %>

      <%= f.label :email, "EMAIL", class: "form_control" %>
      <%= f.email_field :email, class: "field_control" %>

      <%= f.label :password, "PASSWORD", class: "form_control" %>
      <%= f.password_field :password, class: "field_control" %>

      <%= f.label :password_confirmation, "PASSWORD CONFIRMATION", class: "form_control" %>
      <%= f.password_field :password_confirmation, class: "field_control" %>
      
      <button type="submit" class="button">SIGN UP</button><br> </br>
      <a href="/login"><button class="button_second">LOG IN</button></a>

    <% end %>
  </div>
</div>
</div>
</html>