<html>
<head>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
</html>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  	<p> Hello <%= @user.name %> </p>
  	<table>
  		<tr>
			<th> User </th>
			<th> Name </th>
			<th> Email </th>
		</tr>
		<tr>
			<td><%= @user.id %></td>
			<td><%= @user.name %></td>
			<td><%= @user.email %></td>
		</tr>
	</table>
	<li><%= link_to "Log out", logout_path, method: "delete" %></li>

  </div>
</div>
</body>
</html>

