<!DOCTYPE html>
<html>
<head>
  <title>Tomato</title>
   <script src="../HackTimer.js"></script>
   <script src="../HackTimerWorker.js"></script>
   <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <body class="pomodoros">
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <ul class="tomato navbar-left">
          <p> pomodoro </p>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
          <li><%= link_to "CLOCK", root_path %></li>
          <li><%= link_to "USERS", users_path %></li>
          <li><%= link_to "HISTORY", pomodoros_history_path %></li>
          <li><%= link_to "SETTINGS", edit_user_path(current_user) %></li>
          <li><%= link_to "LOG OUT", logout_path, method: "delete"  %></li>
          <% else %>
          <li><%= link_to "LOG IN", login_path %></li>
          <li><%= link_to "SIGN UP", users_new_path %></li>
          <% end %>
        </ul> 
      </div>
    </header>
    <div class="container">
      <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

      <%= yield %>
    </div>
  </body>
  </html>
