<!DOCTYPE html>
<html>
<head>
  <title>Tomato</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <body class="pomodoros">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 blog-main">
        <%= yield %>
      </div>
      <div class="col-sm-5 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module">
          <% if logged_in? %>
          <li><%= link_to "Users", users_path %></li>
          <li><%= link_to "Log out", logout_path, method: "delete" %></li>
          <% else %>
          <li><%= link_to "Log in", login_path %></li>
          <% end %>
          <iframe src="http://localhost:3000/pomodoros"</iframe>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
