<!DOCTYPE html>
<html>
<head>
  <title>Tomato</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 blog-main">
        <%= yield %>
      </div>

      <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module"> <%= link_to 'Pomodoro-History', root_path %>
          <p> Finished Pomodoros </p>  
          <input id = "counting" type = "text" />
          <p> Date </p>
          <input id = "date" type = "text" />
        </div>
      </div>
    </div>
  </div>
</body>
</html>
